.itemContainer {
    width: 100%;
    max-width: 100%;
    border: 1px solid;
    border-radius: 0.25rem;
    margin: 0;
    padding: 12px 10px;
    outline: 0;
    text-align: inherit;
    font: inherit;
    font-size: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    color: currentColor;
    border-color: #e2e8f0;
    background-color: white;
    transition: all 200ms;
}